h1{
  color: #CE9940;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
#tablaPaquetes{
  width: 100%;
  text-align:center;
}
tbody th{
  margin-right:auto;
  margin-left:auto;
}
.bodega{
  background-color: #FF6D00;
  border-radius: 10px;
  width: 40%;
  margin: auto;

}
.despacho{
  background-color: #FFC350;
  border-radius: 10px;
  width: 60%;
  margin: auto;

}
.empacado{
  background-color: #FF9100;
  border-radius: 10px;
  width: 60%;
  margin: auto;

}
.en-aduana{
  background-color: #00B4D8;
  border-radius: 10px;
  width: 60%;
  margin: auto;

}
.reparto{
  background-color: #0077B6;
  border-radius: 10px;
  width: 60%;
  margin: auto;

}

