<div class="logo">
  <img src="./assets/img/logo.png" class="img-responsive" alt="titulo" />
</div>

<div
  id="contenedor-registro"
>
  <h1>Registrarse</h1>
  <form>
    <div class="row">
      <!-- Correo -->
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="correo"
               class="form-label">
          Dirección de correo electrónico:
        </label>
        <input type="email"
               class="form-control"
               formControlName="correo"
               id="correo"
               aria-describedby="correoHelp" >
        <div id="correoHelp"
             class="form-text">
          Ingrese su correo electrónico.
        </div>
      </div>


      <!-- Contraseña -->
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="contrasena"
               class="form-label">
          Contraseña:
        </label>
        <input type="password"
               class="form-control"
               formControlName="contrasena"
               id="contrasena"
               aria-describedby="contrasenaHelp" >
        <div id="contrasenaHelp"
             class="form-text">
          Ingrese su contraseña.
        </div>
      </div>


      <!-- Nombre -->
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="nombre"
               class="form-label">
          Nombre:
        </label>
        <input type="text"
               class="form-control"
               formControlName="nombre"
               id="nombre"
               aria-describedby="nombreHelp" >
        <div id="nombreHelp"
             class="form-text">
          Ingrese su nombre.
        </div>
      </div>

      <!-- Apellido -->
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="apellido"
               class="form-label">
          Apellido:
        </label>
        <input type="text"
               class="form-control"
               formControlName="apellido"
               id="apellido"
               aria-describedby="apellidoHelp" >
        <div id="apellidoHelp"
             class="form-text">
          Ingrese su apellido.
        </div>
      </div>


      <!-- Cedula -->
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="cedula"
               class="form-label">
          Cédula:
        </label>
        <input type="text"
               class="form-control"
               formControlName="cedula"
               id="cedula"
               aria-describedby="cedulaHelp" >
        <div id="cedulaHelp"
             class="form-text">
          Ingrese su cédula.
        </div>
      </div>


      <p class="mensaje"></p>

      <!-- Boton -->
      <div >

        <button type="submit" class="btn btn-success " id="boton-registro" >
          Registrarse</button>
      </div>

    </div>
  </form>

</div>
<div id="div-registro">
  ¿Ya tienes cuenta? -
  <a href="/inicio"> Inicia sesión</a>
</div>


