<app-barra-opciones>
</app-barra-opciones>
<body>
<a id="backgroundPromocional" style="background:  url(assets/imgs/capaing-kratos.jpg) center 0px no-repeat #213946;"
   class=""></a>

<div id="imgPromocional">
  <div id="home-top-banner-wrapper">
    <a  class="button_link" title="">
      <img class="campain" src="assets/imgs/kratos.jpg" alt="God of War ES">
    </a>
  </div>
  <div class="ig-wrapper ">
    <div id="contenedor">
      <div class="title-block">
        <div class="categoria">Juegos del momento</div>
        <a class="etiqueta " href="/es/busquedas/" title="Juegos del momento">Ver todo</a>
      </div>
    </div>

    <a *ngFor="let juego of arregloJuegosFiltrado;let i=index">


      <app-catalogo-juegos [id]="juego.id"
                           [nombre]="juego.nombre"
                           [precio]="juego.precio"
                           [descuento]="juego.descuento"
                           [plataforma]="juego.plataforma"
                           [imagen]="juego.imagen"
                           [tamanio]="juego.tamanio"


      >


      </app-catalogo-juegos>
    </a>

    <div id="indies-panel">
      <a >
        <img src="assets/imgs/campaign-banner-61c32e83ad462.jpg" alt="Monster Hunter Rise ES">
      </a>
    </div>

  </div>

</div>

</body>



