<app-barra-opciones>
</app-barra-opciones>
<body>
<a id="backgroundPromocional" style="background:  url(assets/imgs/capaing-kratos.jpg) center 0px no-repeat #213946;"
   class=""></a>

<div id="imgPromocional">
  <div id="home-top-banner-wrapper">
    <a  class="button_link" title="">
      <img class="campain" src="assets/imgs/kratos.jpg" alt="God of War ES">
    </a>
  </div>
  <div class="ig-wrapper ">
    <div id="contenedor">
      <div class="title-block">
        <div class="categoria">Juegos del momento</div>
        <a class="etiqueta " href="/es/busquedas/" title="Juegos del momento">Ver todo</a>
      </div>
    </div>


    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos><app-catalogo-juegos>
  </app-catalogo-juegos><app-catalogo-juegos>
  </app-catalogo-juegos>
    <app-catalogo-juegos>
    </app-catalogo-juegos>






  </div>

</div>
</body>



