<div  class="row" id="barraInicio" >

  <div class="col-xs-4 col-sm-1 col-md-1 offset-md-2  offset-xs-4">
    <img class="img-fluid  max-width: 100% img-center"   src="assets/imgs/logo.png" alt="logo">
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 offset-md-2  offset-xs-4 " id="divBusqueda">
    <input id="inputBusqueda" accesskey="s" type="text" name="q" autocomplete="off" spellcheck="false" autocapitalize="off" itemprop="query-input" placeholder="Minecraft, rpg, multiplayer...">
    <input id="im-botonBusqueda" type="submit" value="" title="Busqueda avanzada">
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1 offset-md-3  offset-xs-4">




  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item " href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>



</div>



