#contenedor-formulario{
  margin: 1em;
  background: white;
  padding: 2em 1.5em;
  border-radius: 1.5em;
  box-shadow:black 0.5em 0.5em 1em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;

}
#fecha {
  display: inline;
  width: 94%;
}




