
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1  *ngIf="empresaActual">Editar Empresa: {{empresaActual.nombre}}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button id="btnRegresar" type="button" class="btn btn-danger" (click)="regresar()">Lista de empresas </button>
    </div>
  </div>
</div>



<div
  id="contenedor-formulario"
  class="col-lg-11 col-md-11 col-sm-12 col-xs-12 contact texto"
  *ngIf="formGroup">


  <form [formGroup]="formGroup">
    <div class="row">
      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="nombre"
               class="form-label">
          Nombre:
        </label>
        <input type="text"
               class="form-control"
               formControlName="nombre"
               id="nombre"
               aria-describedby="nombreHelp" >
        <div id="nombreHelp"
             class="form-text">
          Ingrese el nombre de la empresa.
        </div>

        <div *ngIf="formGroup.get('nombre')">
          <div class="alert alert-danger"
               role="alert" *ngIf="
             formGroup.get('nombre')?.invalid &&
             formGroup.get('nombre')?.touched &&
             formGroup.get('nombre')?.dirty
                    ">
          <span *ngIf="formGroup.get('nombre')?.hasError('required')">
            Nombre requerido
          </span>
            <span *ngIf="formGroup.get('nombre')?.hasError('minlength')">
            Mínimo 3 caracteres
          </span>
          </div>
        </div>
      </div>

      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="pais"
               class="form-label">
          País:
        </label>
        <input type="text"
               class="form-control"
               formControlName="pais"
               id="pais"
               aria-describedby="paisHelp"  >
        <div id="paisHelp"
             class="form-text">
          Ingrese el país fundación.
        </div>

        <div *ngIf="formGroup.get('pais')">
          <div class="alert alert-danger"
               role="alert" *ngIf="
             formGroup.get('pais')?.invalid &&
             formGroup.get('pais')?.touched &&
             formGroup.get('pais')?.dirty
                    ">
          <span *ngIf="formGroup.get('pais')?.hasError('required')">
            País requerido
          </span>
            <span *ngIf="formGroup.get('pais')?.hasError('minlength')">
            Mínimo 2 caracteres
          </span>
          </div>
        </div>
      </div>

      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="trabajadores"
               class="form-label">
          Número de trabajadores:
        </label>
        <input type="text"
               class="form-control"
               formControlName="trabajadores"
               id="trabajadores"
               aria-describedby="trabajadoresHelp" >
        <div id="trabajadoresHelp"
             class="form-text">
          Ingrese el número de trabajadores de la empresa.
        </div>

        <div *ngIf="formGroup.get('trabajadores')">
          <div class="alert alert-danger"
               role="alert" *ngIf="
             formGroup.get('trabajadores')?.invalid &&
             formGroup.get('trabajadores')?.touched &&
             formGroup.get('trabajadores')?.dirty
                    ">
          <span *ngIf="formGroup.get('trabajadores')?.hasError('required')">
            Número de trabajadores requerido
          </span>
            <span *ngIf="formGroup.get('trabajadores')?.hasError('pattern')">
            Sólo números
          </span>
            <span *ngIf="formGroup.get('trabajadores')?.hasError('minlength')">
            Mínimo 1 carácter
          </span>
          </div>
        </div>
      </div>

      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="independiente"
               class="form-label">
          Independiente:
        </label>

        <select class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                class="form-control"
                formControlName="independiente"
                id="independiente"
                aria-describedby="independienteHelp"

        >

          <option value="Falso">Falso</option>
          <option value="Verdadero">Verdadero</option>

        </select>



        <div id="independienteHelp"
             class="form-text">
          Seleccione si la empresa es independiente.
        </div>
        <div *ngIf="formGroup.get('independiente')">
          <div class="alert alert-danger"
               role="alert" *ngIf="
             formGroup.get('independiente')?.invalid &&
             formGroup.get('independiente')?.touched &&
             formGroup.get('independiente')?.dirty
                    ">
          <span *ngIf="formGroup.get('independiente')?.hasError('required')">
            Independiente requerido
          </span>

          </div>
        </div>
      </div>


      <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="fecha"
               class="form-label">
          Fecha de fundación:
        </label>

        <input id="fecha "matInput [matDatepicker]="picker" class="form-control"
               formControlName="fecha"
               id="fecha"
               aria-describedby="fechaHelp"
               readonly>
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>


        <div id="fechaHelp"
             class="form-text">
          Seleccione la fecha de fundación.
        </div>
        <div *ngIf="formGroup.get('fecha')">
          <div class="alert alert-danger"
               role="alert" *ngIf="
             formGroup.get('fecha')?.invalid &&
             formGroup.get('fecha')?.touched &&
             formGroup.get('fecha')?.dirty
                    ">
          <span *ngIf="formGroup.get('fecha')?.hasError('required')">
            Fecha de funación requerida
          </span>

          </div>
        </div>



      </div>
      <div class="center">

        <button type="submit" class="btn btn-success"
                [disabled]="formGroup.invalid"
                (click)="actualizarEmpresa()"

        >Editar</button>
      </div>
    </div>

  </form >




</div>



