<label >Nombre de usuario</label>
<input type="text"
       class="form-control"

>




<div class="mb-3">
  <label for="username"
         class="form-label">
    Nombre de usuario

  </label>
  <input type="text"
         class="form-control"
         id="username"
         aria-describedby="usernameHelp">

  <div id="usernameHelp"
       class="form-text">
    Ingrese el nombre de usuario .
  </div>
</div>

<a href="https://as.com/meristation/2020/04/03/guia_pagina/1585868795_136396.html" >
  <img src="https://as01.epimg.net/meristation/imagenes/2020/03/30/guia_pagina/1585597103_922581_1585597221_sumario_normal.jpg" class="img-fluid" alt="Comparativa resident evil 2 y 3">
</a>




<a href="https://as.com/meristation/2020/04/03/guia_pagina/1585868795_136396.html" >
  <img src="https://as01.epimg.net/meristation/imagenes/2020/03/30/guia_pagina/1585597103_922581_1585597221_sumario_normal.jpg" >
</a>
npm i --save @nestjs/websockets @nestjs/platform-socket.io




<a href="https://as.com/meristation/2020/04/03/guia_pagina/1585868795_136396.html" >
  <img src="https://as01.epimg.net/meristation/imagenes/2020/03/30/guia_pagina/1585597103_922581_1585597221_sumario_normal.jpg" class="img-fluid" alt="Comparativa resident evil 2 y 3">
</a>

